/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Color Palette
Blue: #1E90FF
Cyan: #44ABEA
Purple: #9C72E4
Green: #7ACFC6
Orange: #F29E33
Rose: #D863A1
Junglegreen: #B0C926
*/

/* Generics */
body{
    background-color: gray;
}

/* Button */
button{
    color: white;
    background-color: var(--blue);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

.secondarybtn{
    color: gray;
    background-color: white;
}
/* Utilities */
:root{
    --blue:#1E90FF;
    --cyan:#44ABEA;
    --purple:#9C72E4;
    --green:#7ACFC6;
    --orange:#F29E33;
    --rose:#D863A1;
    --junglegreen:#B0C926;
}


/* Header */
header img , h1{
    display: inline-block;
    vertical-align: middle;
}

header{
    background-color: white;
    padding:15px;

}

/* List  */
.todolist-container{
    width: 50%;
    margin: 50px auto;
    background-color: white;
}
    
.listhead{
    border-bottom: 1px solid lightgray;
    padding: 10px 25px;
    padding-bottom: 10px;
}

.listbody{
    padding: 15px 35px;
}


ul{
    list-style-type: none;
}

.listitle::before{
content: "\25BC";
}

.listitle{
    padding-bottom: 20px;
    padding-top: 20px;
}


.task{
    line-height: 50px;
}
/* Tags */

.tags{
    padding: 5px;
    color: white;
    border-radius: 5px;
}
.priorities{
    background-color: var(--orange)
}
.visit{
background-color: var(--junglegreen);
}

.food{
background-color: var(--green);
}



.extra{
background-color: var(--purple);
}


/* Validation */

.stat{
    width: 18px;
    height: 18px;
    display: inline-block;
    
    text-align: center;
    border-radius: 10px;
}
.valid{
    border: 1px solid green;
    color: green;
    border-color: currentColor ;
}

.unvalid{
    border: 1px solid red;
    border-color: currentColor;
    color: red;
}